@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body{
    overflow: auto;
}

.white {
    color: rgb(133, 126, 204);
}

.imageCard, .imageCard_True, .imageCard_False{
    border-radius:12px;
    overflow:hidden;
    padding-bottom:10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    border: 2px solid transparent;
    transition: 100ms;
}

.imageCard{
    background-image: linear-gradient(180deg, rgb(3, 19, 49) 0%, #1c0322 70%);
}

.imageCard_True{
    background-image: linear-gradient(180deg, rgb(49, 3, 4) 0%, rgb(34, 17, 3)70%);
}

.imageCard_False{
    background-image: linear-gradient(180deg, rgb(3, 49, 41) 0%, #032221 70%);
}

.imageCard:hover{
    border: 2px solid rgb(175, 171, 220);
    background-image: linear-gradient(180deg, rgb(5, 25, 63) 0%, #280531 70%);
}

.imageCard_True:hover{
    border: 2px solid rgb(175, 171, 220);
    background-image: linear-gradient(180deg, rgb(70, 7, 8) 0%, rgb(49, 26, 6)70%);
}

.imageCard_False:hover{
    border: 2px solid rgb(175, 171, 220);
    background-image: linear-gradient(180deg, rgb(5, 67, 56) 0%, #063634 70%);
}


.imageCard:active{
    border: 2px solid rgb(221, 218, 251);
    background-image: linear-gradient(180deg, rgb(11, 41, 97) 0%, #410b4e 70%);
}

.imageCard_True:active{
    border: 2px solid rgb(221, 218, 251);
    background-image: linear-gradient(180deg, rgb(84, 10, 11) 0%, rgb(68, 37, 10)70%);
}

.imageCard_False:active{
    border: 2px solid rgb(221, 218, 251);
    background-image: linear-gradient(180deg, rgb(8, 90, 75) 0%, #0b504d 70%);
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content, .modal-content_True, .modal-content_False {
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    color: white;
    border: 2px solid rgb(175, 171, 220);
}

.modal-content{
    background-image: linear-gradient(180deg, rgb(2, 14, 37) 0%, #16021b 70%);
}

.modal-content_True{
    background-image: linear-gradient(180deg, rgb(49, 3, 4) 0%, rgb(34, 17, 3)70%);
}

.modal-content_False{
    background-image: linear-gradient(180deg, rgb(3, 49, 41) 0%, #032221 70%);
}

.imageCardTitle {
    margin:0;
    color:white;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imageCardContainer{
    margin-top: 25px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:20px;
}

.image {
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 70%;
}

input[type=text], input[type=date], button{
    width: 100%;
    background-color :rgb(4, 24, 61);
    border:2px solid rgb(133, 126, 204);
    color: rgb(133, 126, 204);
    font-size: large;
    transition: 0.1s;
    outline: none;
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
}

input[type=date]{
    width: 100%;
    background-color :rgb(4, 24, 61);
    border:2px solid rgb(133, 126, 204);
    color: rgb(133, 126, 204);
    font-size: large;
    transition: 0.1s;
    border-radius: 0px;
    padding-right: 10px;
}

::-webkit-calendar-picker-indicator{
    margin-left: -30px;
    filter: invert(74%) sepia(13%) saturate(800%) hue-rotate(200deg) brightness(78%) contrast(92%);
}

button{
    width: 10%;
    background-color :rgb(133, 126, 204);
    color: rgb(4, 24, 61);
    border-radius: 0px 5px 5px 0px;
    font-size: x-large;
    padding: 0px;
}

input[type=text]:focus {
  border:3px solid rgb(200, 198, 221);
  color: rgb(171, 167, 211);
}

button:hover {
  border:3px solid rgb(200, 198, 221);
  color: rgb(4, 24, 61);
  background-color :rgb(171, 167, 211);
}

button:active {
  border:3px solid rgb(200, 198, 221);
  color: rgb(4, 24, 61);
  background-color :rgb(202, 199, 230);
}

::placeholder {
   color:rgb(79, 75, 126);
}

.description {
    padding: 10px;
    padding-bottom: 0px;
    width: 30%;
    background-image: linear-gradient(180deg, rgb(2, 12, 30) 0%, #1c0322 70%);
    border-radius: 10px;
    overflow-y: auto;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }
