@page "/apod"
@inject HttpClient Http

<PageTitle>NASA Astronomy Picture Of The Day</PageTitle>

<h1 class="white">NASA Astronomy Picture Of The Day</h1>

<!-- Displaying a loading message while the data is being requested from the API -->
@if (apod == null)
{
    <p class="white">Loading...</p>
}
//Displaying the APOD Picture or Video Provided by the API
else
{
    <h2 class="white" style="margin-top: 25px;">@apod?.Title</h2>
    <div style="display:flex;">
        <div class="image">
            @if (apod?.Media_type == "image")
            {
                <img src="@apod.Url" style="max-width:100%; width:100%; border-radius:10px;" />
            }
            else if (apod?.Media_type == "video")
            {
                <iframe src="@apod.Url"
                    style="max-width:100%; width:100%;height: 80vh; border-radius:10px; border:none;"
                    allowfullscreen>
                </iframe>
            }
        </div>
        <div class="description">
            <p style="color:rgb(200, 126, 204)"><strong>Date:</strong> @apod?.Date</p>
            <p class="white">@apod?.Explanation</p>
        </div>
    </div>
}

@code {
    //Class to store all the APOD data provided by the API
    public class NasaApod
    {
        public string? Date { get; set; }
        public string? Explanation { get; set; }
        public string? Hdurl { get; set; }
        public string? Media_type { get; set; }
        public string? Title { get; set; }
        public string? Url { get; set; }
    }

    //API url and key
    private NasaApod? apod;
    string apiUrl = "https://api.nasa.gov/planetary/apod?api_key=";
    string apiKey = "yhOmsJLxTQMdT9kCgMeoyosvgyQVSYx4gLbz0eHR";

    //Trigger a request on page load
    protected override async Task OnInitializedAsync()
    {
        apod = await Http.GetFromJsonAsync<NasaApod>($"{apiUrl}{apiKey}");
    }
}
