<div class="nav">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href=""><span class="oi oi-globe" aria-hidden="true"></span>NasaApp</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="apod">
                    <span class="oi oi-camera-slr" aria-hidden="true"></span> Picture of the Day
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="gallery">
                    <span class="oi oi-image" aria-hidden="true"></span> Image Gallery
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="NEObjects">
                    <span class="oi oi-warning" aria-hidden="true"></span> Near-Earth Objects
                </NavLink>
            </div>
        </nav>
    </div>
</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
